.courts-container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-around;
  grid-row-gap: 15px;
  margin-top: 5%;
}

.single-card {
  background-color: rgba(229, 149, 0, 1);
  width: 80%;
  margin: 0 auto
}

.single-card p {
  display: block;
}