.map-container {
  text-align: center;
  margin-top: 5%;
}
.map-container input {
  font-size: 1.5em;
}

.map-container h5 {
  font-size: 1.3em;
  color: #4c4c48;
}

.map-container form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.map-container button {
  padding: 1%;
  background-color: #60b0f4;
  border-radius: 0 22px 22px 0;
  color: white;
  font-size: 1.2em;
  border: none;
}