.map-container {
  text-align: center;
  margin-top: 9%;
}
.map-container input {
  padding: 1% 10% 1% 0%;
}

.map-container button {
  padding: 1%;
  background-color: #A2B8A6;
  border-radius: 0 25px 25px 0;
}