.map-container {
  text-align: center;
  margin-top: 9%;
}
.map-container input {
  font-size: 1.4em;
}

.map-container form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.map-container button {
  padding: 2%;
  background-color: rgba(0, 75, 130, 1);
  border-radius: 0 25px 25px 0;
  color: white;
  font-size: 1em;
  border: none;
}