.court-card {
  background-color: rgba(229, 149, 0, 1);
  width: 100%;
}

.map-link {
  color: inherit;
  text-decoration: none;
}

.map-link p {
  display: none;
}

.court-card button {
  background-color: #60b0f4;
  color: white; 
  border: none;
  text-decoration: none;
  width: 14vw; 
  margin-bottom: 2%;
}