.log-in form {
  display: grid;
  grid-template-columns: 25% 50%;
  margin: 0 auto;
}

.log-in {
  text-align: center;
}

.log-in input {
  display: inline-block;
  height: 3vh;
  margin: 2% 0;
  padding: 0 10% 0 0;
}

.log-in button {
  margin: 0 auto;
  padding: 4% 1%;
  border: none;
  background-color: rgba(0, 75, 130, 1);
  border-radius: 25px;
  grid-column: 2;
  width: 50%;
  color: white;
  font-size: 1.2em;
}

.log-in button:hover {
  cursor: pointer;
}

.password {
  margin-left: 18%;
}