.log-in form {
  margin: 0 auto;
  font-size: 1.2em;
}

.log-in {
  text-align: center;
}

.log-in input {
  height: 4vh;
  margin: 1% auto;
  display: block;
  font-size: 1.3em;
}

.log-in button {
  margin: 1% auto;
  padding: 1% 1%;
  border: none;
  background-color: #60b0f4;
  border-radius: 25px;
  width: 21%;
  color: white;
  font-size: 1.2em;
}

.log-in button:hover {
  cursor: pointer;
}

.create-link {
  font-size: 1.3em;
  color: black;
  font-weight: 700;
}

.create-link:hover {
  color: white;
}

.log-in-button {
  display: block;
  text-align: right;
  margin-right: 3%;
}