@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  --light-red: rgba(214, 55, 71, .6);
  --court-blue:  rgba(0, 75, 130, 1);
  --harvest:  rgba(229, 149, 0, 1);
  --off-white:  rgba(229, 218, 218, 1);
  --off-black:  rgba(7, 14, 56, 1);
  font-family: 'Merriweather', serif;
}

.App {
  text-align: center;
}

.header-styling {
  margin: 0 auto;
}
