.header button {
  background-color: #60b0f4;
  color: white; 
  border: none;
  height: 6vh;
  text-decoration: none;
  width: 10vw; 
}

.log-in-button {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 30%;
  float: right;
  margin: 1% 0;
}

header {
  background-color: #003fff;
  height: 9vh;
  position: fixed;
  width: 100%;
}

.welcome p {
  display: inline;
  margin-right: 1%;
  font-size: 1.3em;
}

.welcome {
  margin-top: 1%;
}

.welcome {
  text-align: left;
}

.header img {
  height: 30vh;
  margin-top: 8%;
}

h3 {
  margin: 0 auto;
  font-size: 3.5vh;
  color: #60b0f4;
  width: 25%;
}